@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap");

* {
  font-size: 16px;
  font-family: "Kufam", cursive;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  background-image: url("bgr.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.col {
  height: 100vh;
  width: 50%;
}

.col2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.cont {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center;
  justify-items: center; */
}

.link {
  font-size: 1.2em;
  padding: 15px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  margin: 2%;
  margin-bottom: 5%;
  width: 100%;
  overflow: hidden;
}

#copyLink {
  font-size: 1.1em;
}

.link:focus {
  outline: none;
}

#btn {
  background-color: transparent;
  border: 2.5px solid #f6044a;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 75%;
  transition: padding 1s;
}

#btn:focus {
  outline: none;
}

#btn:hover {
  background-color: #f6044a;
  color: white;
}

.mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  height: 30%;
  width: 30%;
  padding-top: 20%;
  padding-left: 12%;
}

.logo img {
  max-width: 100%;
  height: auto;
}

footer {
  font-size: 1.15em;
  position: fixed;
  bottom: 7vh;
  left: 7vw;
}

.tip {
  position: relative;
  display: inline-block;
}

.tip .txt {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tip .txt::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tip:hover .txt {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  body {
    background-image: url("bgm.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mobile {
    visibility: hidden;
  }
}
