{% extends 'base.html' %} {% block content %}
<form>
  <h1 style="font-size: 1.2em; color: blue">URL:</h1>
  <input type="text" id="link" value="{{original_url}}" readonly />
  <h1 style="font-size: 1.2em; color: blue">Short URL:</h1>
  <input
    type="text"
    id="link"
    value="{{url_for('redrect',url=short_url,_external=true)}}"
    readonly
  />
</form>
<div class="tip">
  <button id="btn" onclick="copy()" onmouseout="out()">
    <span class="txt" id="tooltip">Copy to Clipboard</span>
    Copy
  </button>
</div>

<script>
  function copy() {
    var txt = document.getElementById("copyLink");
    txt.select();
    txt.setSelectionRange(0, 99999);
    document.execCommand("copy");

    var tip = document.getElementById("tooltip");
    tip.innerHTML = "Copied: " + txt.value;
  }

  function out() {
    var tip = document.getElementById("tooltip");
    tip.innerHTML = "Copy to Clipboard";
  }
</script>
{% endblock %}
