<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pocektly</title>
    <link
      rel="shortcut icon"
      type="image/gif"
      href="{{url_for('static',filename='favicon.ico')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='style.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mobile">
            <img
              id="search"
              src="{{url_for('static',filename='searchr.svg')}}"
            />
          </div>
        </div>
        <div class="col col2">
          <div class="logo">
            <img src="{{url_for('static',filename='logof.png')}}" />
          </div>
          <div class="cont">{% block content %}{% endblock %}</div>
        </div>
        <footer id="ft">
          Made with <font color="red">❤</font> by Hitesh Kowdiki
        </footer>
      </div>
    </div>
    <script src="{{ url_for('static', filename='main.js')
    }}"></script>
  </body>
</html>
